/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.plum{
    color: #954696;
}

.oceanBlue{
    color: #5341BA;
}


.wageningenGreen{
    color: #36aa34;
}


.sandstorm{
    color: #eeca45;
}

.trolleyGray{
    color: #7a7e88;
}

/* ----- END GLOBAL STYLES ----- */


/* ----- START NAVBAR ----- */
.collapseBackground{
    background-color: #36aa34;
}
.navBarMobileButtons{
    height: inherit;
    margin: 5px;
}
.navbar{
    background-color:   #36aa34;

}
.navBarMobileButtons {
    background-color:   #5341BA;
    border-color:   #5341BA;
    color: #080301;
}
.btn-primary:hover{
    background-color: #954696;;
    border-color:#954696;
    color: #080301;
}
/* ----- END NAVBAR ----- */



/* ----- START JUMBOTRON----- */
.jumbotronBackground{
    background-image: url("../imgs/spring/anisur-rahman-K2b7UDed6uQ-unsplash.jpg");
    background-size: cover;
    height:25em;
    background-position:  center center;
}
.myNameHeader{
    color: #5341BA;
}
.jobTitles{
    color: #080301;
/* ----- END JUMBOTRON ----- */



/* ----- START ABOUT ME ----- */

/* ----- END ABOUT ME ----- */



/* ----- START LANGUAGES ----- */

/* ----- END LANGUAGES ----- */



/* ----- START WORKS ----- */

/* ----- END WORKS ----- */



/* ----- START WEB ACCESSABILITY ----- */

/* ----- END WEB ACCESSABILITY ----- */



/* ----- START fOOTER ----- */

/* ----- END FOOTER ----- */



/* ----- START MEDIA QUERIES ----- */

/* ----- END MEDIA QUERIES ----- */
