/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.Text{
    color: #
}
.Background{
    background-color: #
}

.Text{
    color: #
}
.Background{
    background-color: #
}

.Text{
    color: #
}
.Background{
    background-color: #
}

.Text{
    color: #
}
.Background{
    background-color: #
}

.trolleyGrayText{
    color: #7a7e88;
}
.trolleyGrayBackGround{
    background-color: #7a7e88;
}
