/* ----- START GLOBAL STYLES ----- */
body{
    background-color: #010203;
}
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.richBlack{
    color: #010203;
}
.ivoryWhite{
    color: #fffff0;
}
.quickSilver{
    color: #a2a3a3;
}
/* .charcoalBlue{
    color: #3b4752;
}

.cyberGrape{
    color: #684b7a;
}

.trolleyGray{
    color: #7a7e88;
}


.raisinBlack{
    color: #232427; 
}*/

/* ----- END GLOBAL STYLES ----- */


/* ----- START NAVBAR ----- */
.collapseBackground{
    background-color: transparent;
}
.navBarMobileButtons{
    height: inherit;
    margin: 5px;
}
.navbar{
    background-color: transparent;

}
.navbar-toggler{
    background-color: #010203;
    opacity: .5;
}
.navBarMobileButtons {
    margin-top: 2em;
    background-color: #010203;
    border-color:   #010203;
}
.btn-primary:hover{
    background-color: #a2a3a3;
    border-color:#010203;;
    color: #010203;
    /* box-shadow: #010203; */

}
.logoImage{
    height: 2em;
    background-color: #010203;
    opacity: .5;
    border-radius: 25px;
}

/* ----- END NAVBAR ----- */



/* ----- START JUMBOTRON----- */
.jumbotronBackground{
    background-image: url("../img/patrick-hendry-37ZuGYD3JOk-unsplash.jpg");
    background-size: cover;
    height: 30em;
    background-position: bottom center;
}

.myNameHeader{
    margin-top: 1em;
    color: #010203;
}
.jobTitles{
    margin-top: 3em;
    color: #010203;

}

/* ----- END JUMBOTRON ----- */

/* ----- START ABOUT ME ----- */
.aboutMeContainer{
    margin: 5%;
    background-color: #a2a3a3;
    /* background-image: url('../img/siddharth-narsimhan-8S5yioed4c0-unsplash.jpg'); */
    background-size: cover;
    background-position: center center;
    height: 35em;   
    width: fit-content;
    /* box-shadow: 0 0 8px 8px  #a2a3a3 inset; */
    border-radius: 3em;
}
.aboutMeImage{
    height: 90%;
    width: 90%;
    margin-left: 3em;
    margin-top: 3em;
}
.aboutMeText{
    margin-top: 2em;
    color: #010203;
}
/* ----- END ABOUT ME ----- */



/* ----- START LANGUAGES ----- */

/* ----- END LANGUAGES ----- */



/* ----- START WORKS ----- */

/* ----- END WORKS ----- */



/* ----- START WEB ACCESSABILITY ----- */

/* ----- END WEB ACCESSABILITY ----- */



/* ----- START fOOTER ----- */

/* ----- END FOOTER ----- */



/* ----- START MEDIA QUERIES ----- */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .myNameHeader{
        float: left;
    }
    .aboutMeImage{
        float: left;
    }
}