/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.selectiveYellow{
    color: #f2b705;
}

.blackLeatherJacket{
    color: #2a4024;
}

.maximumGreen{
    color: #538c30;
}

.midnightGreen{
    color: #025959;
}

.spanishGray{
    color: #8aa69b;
}

/* ----- END GLOBAL STYLES ----- */


/* ----- START NAVBAR ----- */
.collapseBackground{
    background-color: #28612C;
}
.navBarMobileButtons{
    height: inherit;
    margin: 5px;
}
.navbar{
    background-color:   #28612C;

}
.navBarMobileButtons {
    background-color:   #DBE8F5;
    border-color:   #DBE8F5;
    color: #265c8c;
   
}
.btn-primary:hover{
    background-color: #265c8c;;
    border-color:#265c8c;;
    box-shadow: #265c8c;
    color: #DBE8F5;
}
/* ----- END NAVBAR ----- */

/* ----- START JUMBOTRON----- */
.jumbotronBackground{
    background-image: url("../imgs/summer/");
    background-size: cover;
    height:25em;
    background-position: center bottom;
}
.myNameHeader{
    color: #265c8c;
}
.jobTitles{
    color: #265c8c;
/* ----- END JUMBOTRON ----- */



/* ----- START ABOUT ME ----- */

/* ----- END ABOUT ME ----- */



/* ----- START LANGUAGES ----- */

/* ----- END LANGUAGES ----- */



/* ----- START WORKS ----- */

/* ----- END WORKS ----- */



/* ----- START WEB ACCESSABILITY ----- */

/* ----- END WEB ACCESSABILITY ----- */



/* ----- START fOOTER ----- */

/* ----- END FOOTER ----- */



/* ----- START MEDIA QUERIES ----- */

/* ----- END MEDIA QUERIES ----- */
