/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.selectiveYellow{
    color: #f2b705;
}

.blackLeatherJacket{
    color: #2a4024;
}

.maximumGreen{
    color: #538c30;
}

.midnightGreen{
    color: #025959;
}

.spanishGray{
    color: #8aa69b;
}

/* ----- END GLOBAL STYLES ----- */


/* ----- START NAVBAR ----- */

.navBarMobileButtons{
    height: inherit;
    margin: 5px;
}
/* ----- END NAVBAR ----- */

/* ----- START JUMBOTRON----- */
.jumbotronBackground{
    background-image: url("../imgs/summer/");
    background-size: cover;
}
.myNameHeader{
    color: # ;
}
.jobTitles{
    color: # ;
}
/* ----- END JUMBOTRON ----- */



/* ----- START ABOUT ME ----- */

/* ----- END ABOUT ME ----- */



/* ----- START LANGUAGES ----- */

/* ----- END LANGUAGES ----- */



/* ----- START WORKS ----- */

/* ----- END WORKS ----- */



/* ----- START WEB ACCESSABILITY ----- */

/* ----- END WEB ACCESSABILITY ----- */



/* ----- START fOOTER ----- */

/* ----- END FOOTER ----- */



/* ----- START MEDIA QUERIES ----- */

/* ----- END MEDIA QUERIES ----- */
