/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.selectiveYellow{
    color: #f2b705;
}

.blackLeatherJacket{
    color: #2a4024;
}

.maximumGreen{
    color: #538c30;
}

.midnightGreen{
    color: #025959;
}

.spanishGray{
    color: #8aa69b;
}

/* ----- END GLOBAL STYLES ----- */


/* ----- START NAVBAR ----- */
.collapseBackground{
    background-color: #025959;
}
.navBarMobileButtons{
    height: inherit;
    margin: 5px;
}
.navbar{
    background-color:   #025959;

}
.navBarMobileButtons {
    background-color:   #538c30;
    border-color:   #538c30;

   
}
.btn-primary:hover{
    background-color: #2a4024;;
    border-color:#2a4024;;
    box-shadow: #2a4024;

}
/* ----- END NAVBAR ----- */

/* ----- START JUMBOTRON----- */
.jumbotronBackground{
    background-image: url("../imgs/summer/pawel-czerwinski-1056851-unsplash.jpg");
    background-size: cover;
    height:30em;
    background-position: center center;
}
.myNameHeader{
    color: #080301; 
}
.jobTitles{
    color: #080301;
/* ----- END JUMBOTRON ----- */



/* ----- START ABOUT ME ----- */

/* ----- END ABOUT ME ----- */



/* ----- START LANGUAGES ----- */

/* ----- END LANGUAGES ----- */



/* ----- START WORKS ----- */

/* ----- END WORKS ----- */



/* ----- START WEB ACCESSABILITY ----- */

/* ----- END WEB ACCESSABILITY ----- */



/* ----- START fOOTER ----- */

/* ----- END FOOTER ----- */



/* ----- START MEDIA QUERIES ----- */

/* ----- END MEDIA QUERIES ----- */
