/* ----- START GLOBAL STYLES ----- */
.josefinSlab{
    font-family: 'Josefin Slab', serif;
}

.specialElite{
    font-family: 'Special Elite', cursive;
}

.raisinBlackText{
    color: #232427;
}
.raisinBlackBackGround{
    background-color: #232427;
}

.azureishWhiteText{
    color: #dbe9f4;
}
.azureishWhiteBackground{
    background-color: #dbe9f4;
}

.bdazzledBlueText{
    color:
}
.bdazzledBlueBackground{
    background-color: 
}

.mughedGreenText{
    color: #28612C;
}
.mughedGreenBackground{
    background-color: #28612C;
}

.harvardCrimsonText{
    color: #
}
.harvardCrimsonBackground{
    background-color: #

.Text{
    color: #
}
.Background{
    background-color: 
}


.Text{
    color: #
}
.Background{
    background-color: #
}